@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heroButton{
    @apply px-6 py-2 border border-[#c681da] rounded-full uppercase text-xs
    tracking-widest text-gray-300 transition-all 
    hover:border-[#e4d2e9]/40 hover:text-[#e4d2e9]/40
  }
}

:root {
  --foreground-rgb: 202, 116, 241;
  --background-start-rgb: 141, 118, 225;
  --background-end-rgb: 250, 110, 222;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
